<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width">
        <script src="__STATIC__/jquery-1.11.3.min.js"></script>
         <link type='text/css' rel="stylesheet" src='__CSS__/user.css'/>  
    </head>
    <body>
        <include file="Public:userHeader"/>
      
       <div class="login_wrap">
           <div class="login_wrapL">
               <div class="slide_box">
                   <div class="bd">
                       <ul style="position:relative;width: 468px;height:0px;">
                           <li style="position:absolute;width: 468px;left: 0px;top:0px;display: none;">
                               <a href="" target="_blank"><img src="__IMG__/user/login_01.gif"/></a>
                            </li>
                           <li style="position:absolute;width: 468px;left:0px;top: 0px;display: list-tiem;">
                            <img src="__IMG__/user/login_02.gif"/></li>
                           </li>
                       </ul>
                    </div>
                   <div class="hd">
                       <ul>
                           <li class="on"></li>
                           <li class="2"></li>
                       </ul>
                   </div>
               </div>
            </div>
            <div class="login_wrapR"> 
                  <!--右侧-->
                  <span>如有账号，请登录</span>
                  <div class="login_box">
                   <form class="login" action="{:U('Home/User/login')}" method="post">
                       <p id="account_tip" class="error"></p>  
                       <p class="user_text">
                           <input type="text" name="username" id="username" class="username" placeholder="邮箱/用户名/手机号"/>
                           <i class="userico"></i>
                       </p>
                       <p id="account_tip" class="error"></p> 
                       <p class="user_text">
                           <input type="password" name="pwd" id="pwd" class="userpwd" placeholder="密码"/>
                           <i class="userico"></i>
                     </p>
                     <input type="button" value="登 录" id="toLogin" style="width:80px;">
                     &nbsp;&nbsp;<a href='register.html'>注 册</a>
                 </form>
                      <p id="login_info" style="color:red;"></p>
                  </div>
             </div> 
          
       </div>

       <script>
            $(function(){
                $('#toLogin').click(function(){
                    var action = $('.login').attr('action');
                    var formatarr = $('.login').serialize();
                    $.post(action,formatarr,function(data){
                        console.log(data);
                        $('#login_info').html(data.info);
                    });
                });
                
        //登录左侧轮播图    
	$(".slideBox").slide({
            titCell:".hd ul", mainCell:".bd ul", effect:"fold", autoPage:true, autoPlay:true, trigger:"click"});
		
            });
        </script>
        <include file="Public:userFooter"/>
    </body>
</html>
