<!DOCTYPE html>
<html>
    <head>
        <title>后台管理系统</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href='/99m/Public/static/bootstrap/css/bootstrap.css'/>
        <link rel="stylesheet" type='text/css' href='__CSS__/admin.css'/>
    </head>
    <body>
         <div class="container-fluid header">
    <block name="top">
           <div class='row'>
      
           </div>
            </block>
        </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left col-md-3 left">
                <block name="left"> 
                左侧功能栏
                </block>
            </div>
            <div class="pull-right col-md-9 right">
                  <block name="right">
                右侧内容区
                  </block>
            </div>
        </div>
      </div>
            
    <block name="footer">
        <div class='container-fluid footer'>
        底部版权信息</block>
         </div>
    </body>
</html>
