<!DOCTYPE html>
<html>
    <head>
        <title>后台管理系统</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" src='/99m/Public/static/bootstrap/css/bootstrap.css'/>
        <link rel="stylesheet" type='text/css' src='__CSS__/admin.css'/>
    </head>
    <body>
    <block name="top">
        <div class="container-fluid header">
            <div class='row'>
        顶部通栏
            </div>
        </div>
    </block>
    <block name="left">左侧菜单栏</block>
    <block name="right">右侧内容区</block>
    <block name="footer">
        <div class='container-fluid'>
        底部版权信息</block>
         </div>
    </body>
</html>
