<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
       <extend name="Public:base"/>    
       <block name="left">
       </block>
       <block name="right">
           <h4>后台首页欢迎您</h4>
           <table class="table table-hover">
               <thead>
                  <th>Uid</th>
                  <th>Uname</th>
                  <th>IP</th>
                  <th>Create-Time</th>
                  <th>Last-Time</th>
                  <th>Operate</th>
               </thead>
               <tbody>
                   <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                   </tr>
               </tbody>
           </table>
       </block>
    </body>
</html>
